# Build outputs
bin/
obj/
dist/
.secrets/
*.user
*.suo
.vs/
*.cache

# NuGet
*.nupkg
packages/

# Rider
.idea/

# VS Code
.vscode/
!.vscode/tasks.json
!.vscode/launch.json

# Windows
Thumbs.db
Desktop.ini
